
* {
padding: 0;
margin: 0;
color: #1a1f36;
box-sizing: border-box;
word-wrap: break-word;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body {
min-height: 100%;
background-color: #ffffff;
}

h1 {
letter-spacing: -1px;
}

a {
color: rgb(225, 117, 85);
text-decoration: unset;
}

.login-root {
background: #fff;
display: flex;
width: 50%;
min-height: 100vh;
overflow: hidden;
}

.loginbackground {
min-height: 692px;
position: fixed;
bottom: 0;
left: 0;
right: 0;
top: 0;
z-index: 0;
overflow: hidden;
}

.flex-flex {
display: flex;
}

.align-center {
align-items: center;
}

.center-center {
align-items: center;
justify-content: center;
}

.box-root {
box-sizing: border-box;
}

.flex-direction--column {
-ms-flex-direction: column;
flex-direction: column;
}



.box-divider--light-all-2 {
box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
background-color: rgb(225, 117, 85);
}

.box-background--white {
background-color: #ffffff;
}

.box-background--blue800 {
background-color: #212d63;
}

.box-background--gray100 {
background-color: #e3e8ee;
}

.box-background--cyan200 {
background-color: #7fd3ed;
}

.padding-top--64 {
padding-top: 64px;
}

.padding-top--24 {
padding-top: 10px;
}

.padding-top--48 {
padding-top: 48px;
}

.padding-top--23 {
padding-top: 24px;
}



.padding-horizontal--48 {
padding: 48px;
}

.padding-bottom--15 {
padding-bottom: 15px;
}


.flex-justifyContent--center {
-ms-flex-pack: center;
justify-content: center;
}

.formbg {
margin: 0px auto;
width: 650px;
background: white;
border-radius: 20px;
box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
display: block;
font-size: 20px;
line-height: 28px;
color: #1a1f36;
}

label {
margin-bottom: 10px;
}

.reset-pass a,
label {
font-size: 14px;
font-weight: 600;
display: block;
}

.reset-pass>a {
text-align: right;
margin-bottom: 10px;
}

.grid--50-50 {
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
}

.field input {
font-size: 16px;
line-height: 28px;
padding: 8px 16px;
width: 100%;
min-height: 44px;
border: unset;
border-radius: 4px;
outline-color: rgb(220 117 85 / 0.5);
background-color: rgb(255, 255, 255);
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
background-color: rgb(220, 117, 85);
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgb(220, 120, 90) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
color: #fff;
font-weight: 600;
cursor: pointer;
}

.goback {
font-size: 16px;
line-height: 28px;
padding: 8px 16px;
width: 100%;
min-height: 44px;
border: unset;
border-radius: 4px;
outline-color: rgb(220 117 85 / 0.5);
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgb(220, 120, 90) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
font-weight: 600;
cursor: pointer;
}

.field-checkbox input {
width: 20px;
height: 15px;
margin-right: 5px;
box-shadow: unset;
min-height: unset;
}

.field-checkbox label {
display: flex;
align-items: center;
margin: 0;
}

a.ssolink {
display: block;
text-align: center;
font-weight: 600;
}

.footer-link span {
font-size: 14px;
text-align: center;
}

.listing a {
color: #697386;
font-weight: 600;
margin: 0 10px;
}

.field h1 {
font-size: 5rem;
}

.information {
font-size: 2rem;
}

.information_extra {
font-size: 2rem;
color: #857f7f7a;
}

.blockquote {
padding: 60px 80px 40px;
position: relative;
}

.blockquote p {
font-family: "Utopia-italic";
font-size: 2rem;
font-weight: 700px;
text-align: center;
}

.blockquote:before {
position: absolute;
font-family: 'FontAwesome';
top: 0;

content: "\201C";
font-size: 18rem;
color: rgba(0, 0, 0, 0.1);

}

.blockquote::after {
content: "";
top: 20px;
left: 50%;
margin-left: -100px;
position: absolute;
border-bottom: 3px solid rgb(219, 116, 84);
height: 3px;
width: 200px;
}

.padding-bottom--24 {
padding-bottom: 24px;
justify-content: center;
}

.leftal {
justify-content: left;
}

.grid-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: minmax(100px, auto);

}

.grid-item-1 {
grid-column: 1;
grid-row: 1;
}

.grid-item-4 {
grid-column: 2/2;
grid-row: 1/4;
}

.grid-item-2 {
grid-column: 2;
grid-row: 1/4;
}

.grid-item-3 {
grid-column: 1;
grid-row: 2/4;
}

.map {
height: 300px;
width: 600px;
}