<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weather Max</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a href="https://www.rohangosavi.com/" rel="dofollow">Weather Max</a></h1>
    </div>

    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                    <span class="information"> The City you are requesting is not in our database. Please check the city spelling name.</span>
                </div>

                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                    <h1> Error 404 </h1>
                </div>

                <div class="field padding-bottom--24">
                    <div class="goback">
                        <a href="/">Go to Main Menu</a>
                    </div>                            
                </div>

                <div class="field padding-bottom--24">
                    <blockquote class="blockquote">
                        <p>Error 404, Feelings not found</p>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-link padding-top--24">
        <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <span><a href="https://github.com/rohangosavi01/live-weather-application">Weather Forecasting
                    Project</a></span>
            <span><a href="mailto:rohangosavi01@gmail.com">email me.</a></span>
            <span><a>Rohan Gosavi</a></span>
        </div>
    </div>

</body>

</html>