<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Viewer</title>
</head>
<body>
    
    <h1>This a weather static web application</h1>
    <form method="POST" action="/weather">
        <h1>Enter City For Weather Display</h1>
        <input type="text" name="city"></input>
        <input type="submit" value="Submit">
    </form>

</body>
</html>