<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Details</title>
</head>
<body>
    <div class="table1">
        <table class="styled-table">
            <thead>
                <tr>
                    <th> Ticket Information </th>
                    <th> Details </th>
                </tr>
            </thead>
    
            <tbody>
                {% for key, value in weather_data.items() %}
                <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
                </tr>
                {% endfor %}
    
                <tr>
                    <td> </td>
                    <td>
                        <form method="post" action="/" />
                        <input type="hidden" name="action" />
                        <button class="paging" type="submit"> Go Back </button>
                        </form>
                    </td>
    
                </tr>
    
            </tbody>
    
        </table>
    </div>
</body>
</html>